<h1>FAQ</h1>

<h4>Cryptocurrency is changing the world.  Plutus is helping the way you manage it.</h4>
</br>

<div class="plutus"><img src="/plutus256.png"></div></br>

<p><u>Who is Plutus?</u></br></br>


Plutus (literally "wealth") was the god of wealth in ancient Greek religion and myth.</br></br>

<p><u>What is cryptocurrency?</u>

<h3>cryp·to·cur·ren·cy</h3>
<h4>ˈkriptōˌkərənsē</h4>
noun</br>
noun: cryptocurrency; plural noun: cryptocurrencies; noun: crypto-currency; plural noun: crypto-currencies</br>
a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.
"decentralized cryptocurrencies such as bitcoin now provide an outlet for personal wealth that is beyond restriction and confiscation"</p></br>

<i>Please note: Plutus is not affiliated with Block Code Ltd or the Plutus Mobile Application tap/pay system</i>

