<h1>FAQ</h1>

<h4>Cryptocurrency is changing the world.  Plutus is helping the way you manage it.</h4>
</br>

<div class="plutus"><img src="/plutus256.png"></div></br>

<p><u>Who is Plutus?</u></br></br>

Plutus (literally "wealth") was the god of wealth in ancient Greek religion and myth.</br></br>

<u>What is cryptocurrency?</u></p>

cryp·to·cur·ren·cy</br>
ˈkriptōˌkərənsē</br>
noun: cryptocurrency; plural noun: cryptocurrencies; noun: crypto-currency; plural noun: crypto-currencies</br>
a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.
"decentralized cryptocurrencies such as bitcoin now provide an outlet for personal wealth that is beyond restriction and confiscation"</br></br>

<u>How to I purchase crypto?</u></p>

Plutus is a cryptocurrency investment manager, not a digital wallet to store coins.  Our goal is to provide analytical data related to your purchases.  We reccommend using a service like Coinbase to actually hold coins.</br></br>

<u>Which coins should I invest in?</u></p>

We can't give financial advice.  We suggest you do your own due dilligence and determine which coins are most attractive based on your goals.</br></br>

<i>Please note: Plutus is not affiliated with Block Code Ltd or the Plutus Mobile Application tap/pay system</i>

