<h1 style="color: #FF007B">About</h1>

<h4>Cryptocurrency is changing the world.  Plutus is helping the way you manage it.</h4>
</br></br>

<div class="plutus-icon"><img src="/plutus256.png"></div></br>

<div class="plutus-text"><p>Plutus is here to help you manage all of your cryptocurrency investments.  Simply create an account, then add coins that you have purchased in your wallet.  Once you have added your purchases, you can track your profits and gains with real-time analytical data from Coin Marketcap.</p></div></br>

<h2>FAQ</h2></br>

<div class="container">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
           <div class="right-arrow pull-right">+</div>
          <a href="#">Who is Plutus?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Plutus (literally "wealth") was the god of wealth in ancient Greek religion and myth.</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">What is cryptocurrency?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">cryp·to·cur·ren·cy</br>
			ˈkriptōˌkərənsē</br>
			noun: cryptocurrency</br>
			a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">How do I purchase crypto?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Plutus is a cryptocurrency investment manager, not a digital wallet to store or purchase coins.  Our goal is to provide analytical data related to your purchases.  We reccommend using a service like <a href="https://www.coinbase.com" target="_blank">Coinbase</a> to actually buy, sell, and hold coins.</div>
		</div>
     </div>


     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">Which coins should I invest in?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">We can't give financial advice.  We suggest you do your own due dilligence and determine which coins are most attractive based on your goals.  We will say though: do not invest what you cannot afford to lose.</div>
      </div>
    </div>

        <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">What is the difference between crypto and stock investments?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">The biggest difference between crypto and stocks/fiat currency is that supply can’t be diluted in crypto like it can and does get diluted with the others from the supply getting increased. Example If there is only ever going to be 21 million bitcoins the supply goes down as they are lost by individuals and corporations. That results in fewer and fewer bitcoins for all the people that want to use it as it becomes more successful. Even with bitcoin going to the 8th decimal there is never going to be enough for everyone on earth to own a large amount of them. The only people with large amounts of most cryptocurrencies today and in the future will be people who adopt early and people who are already rich which is becoming more or less the same thing.</div>
    </div>
  </div>

          <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">What gives cryptocurrency value?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">What gives anything value is its utility and the consensus hallucination where people merely say it has value. That applies to gold, oil, US dollars, bitcoins, Pokemon cards, pet rocks, diamonds, and anything else you can think of all of which can be devalued by the introduction of new supply. The utility of a medium of exchange or store of value is superior when it’s digital since its efficiency, security, settlement time, etc are all enhanced and because utility past merely being a medium of exchange can be programmed in like with ethereum smart contracts. The US dollar is backed by the faith in the US government and nothing else, as a people, we need to trade. So what ultimately makes decentralized money less valuable than a government-backed currency if not merely it’s current rate of adoption and peoples faith in its ability to survive? Considering the supply of most cryptocurrency can be verified to be rare and immune to the introduction of new supply I’d say it can have a more lasting value than most things perhaps excluding human life and time itself although both of those things seem to have a price we put on them as well.</div>
    </div>
  </div>

          <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">How does mining work?</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">Since the economics differ from each coin it’s best to look at this generally speaking. Mining is a means to verify transactions done on a decentralized network and introduce new coins into the ecosystem. When all the coins that will ever exist are all mined, mining will likely simply be for verifying transactions. With mining, a miner has a cost of electricity they have to spend to solve a “mathematical problem” that is checked by other participants in the network to see if it’s correct or not. If it’s found to be incorrect the work that miner has done is eventually considered invalid and they are given no reward for their work, if it’s found to be valid they are rewarded with newly minted coins and some of the transaction fees from the network. Since there is an economic cost to mining this is an incentive to have participants in the network be honest and without it they could get away with dishonest conduct such as double spending or minting an arbitrary amount of coins for their own profit without earning it.</div>
    </div>
  </div>





  </div> 
</div>

</br></br></br></br>

<i>For content purposes, some of the above FAQ text was taken from <a href="https://hackernoon.com">Hackernoon.</br></br></br>



