<h1>About Plutus</h1>

<h4>Cryptocurrency is changing the world.  Plutus is helping the way you navigate it.</h4>
</br>
<p><u>What is cryptocurrency?</u>

<h3>cryp·to·cur·ren·cy</h3>
<h4>ˈkriptōˌkərənsē</h4>
noun</br>
noun: cryptocurrency; plural noun: cryptocurrencies; noun: crypto-currency; plural noun: crypto-currencies</br>
a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.
"decentralized cryptocurrencies such as bitcoin now provide an outlet for personal wealth that is beyond restriction and confiscation"</p>
