<h1>About</h1>

<h4>Cryptocurrency is changing the world.  Plutus is helping the way you manage it.</h4>
</br></br>

<div class="plutus-icon"><img src="/plutus256.png"></div></br>

<div class="plutus-text"><p>Plutus is here to help you manage all of your cryptocurrency investments.  Simply create an account, then add coins that you have purchased in your wallet.  Once you have added your purchases, you can track your profits and gains with real-time analytical data from Coin Marketcap.</p></div></br>

<h2>FAQ</h2></br>

<div class="container">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
           <div class="right-arrow pull-right">+</div>
          <a href="#">Who is Plutus?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Plutus (literally "wealth") was the god of wealth in ancient Greek religion and myth.</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">What is cryptocurrency?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">cryp·to·cur·ren·cy</br>
			ˈkriptōˌkərənsē</br>
			noun: cryptocurrency; plural noun: cryptocurrencies; noun: crypto-currency; plural noun: crypto-currencies</br>
			a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">How to I purchase crypto?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Plutus is a cryptocurrency investment manager, not a digital wallet to store or purchase coins.  Our goal is to provide analytical data related to your purchases.  We reccommend using a service like <a href="https://www.coinbase.com" target="_blank">Coinbase</a> to actually buy, sell, and hold coins.</div>
		</div>
     </div>


     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-title expand">
            <div class="right-arrow pull-right">+</div>
          <a href="#">Which coins should I invest in?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">We can't give financial advice.  We suggest you do your own due dilligence and determine which coins are most attractive based on your goals.  We will say though: do not invest what you cannot afford to lose.</div>
      </div>
    </div>
  </div> 
</div>

</br></br></br></br>

<i>Please note: Plutus is not affiliated with the <a href="https://plutus.it" target="_blank">Plutus Mobile Application</a> tap/pay system</i></br></br></br>



