// Place all the styles related to the coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.add-coins {
	margin-left: 35%;
	margin-right: 30%;
	border: 4px solid;
	border-radius: 25px;
	border-color: #FF007B;
	background-color: #434A73;
	width: 350px;
	padding: 20px;
	margin-top: 3%;
}